@model GreenLightSharp.Models.Member

@using (Html.BeginForm("Join", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="btn btn-primary" id="join">Join a Show</h4>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-horizontal" id="bandid">
        <h5>Band Id</h5>
        @Html.TextBoxFor(model => model.BandId)
        @Html.ValidationMessageFor(model => model.BandId, "", new { @class = "text-danger" })
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Join!" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
