@model GreenLightSharp.Models.Display

@{
    ViewBag.Title = "Show Status";
}

@functions{
    public static string statusColor(string status) { return status == "0" ? "/Content/XRed.png" : "/Content/OGreen.png"; }
}

<h4><span class="glyphicon glyphicon-trash deleteShow" id="@Model.Show.Id" style="display:none"> </span>@Model.Show.Band Show</h4>
@if (Model.Show.ShowStatus == "1")
{
    <h1 id="success">Success!!</h1>
}
<hr />
<div class="container">
    <div class="row">
        @if (Model.Member != null)
        {
            <div class="col-md-3">
                <b>@Model.Member.Name - @Model.Member.Instrument</b>
                <div id="memStat"><img src=@statusColor(Model.Member.Status)></div>
            </div>
        }
        <div class="col-md-3">
            <br />
            <ul id="members">
                @foreach (var member in Model.Show.Members)
                {
                    <li>
                        <span class="glyphicon glyphicon-trash deleteMember" id="@member.Id" style="display: none"></span> <img src=@statusColor(member.Status) height="25" width="25"/> <b>@member.Name - @member.Instrument</b>
                    </li>
                }
            </ul>
        </div>
        @if (Model.Show.ShowStatus == "1")
        {
            <div class="col-md-3">
                @Html.Partial("Success")
            </div>
        }
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $("#navbar").append("<li><a id='admin'>Admin</a></li>")
        $("#returntoshow").remove()
        var change = firebase.database().ref('@Model.Show.Id/');
        var Url = '/Home/ShowPage/@Model.Member.Id?bid=@Model.Show.Id';
        var showUrl = encodeURI(Url);
        change.on('child_changed', function () {
            $.ajax({
                type: "GET",
                url: showUrl,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function () { 
                location.reload();}
            });
        });

        $("#memStat").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("PatchMember", "Home")',
                data: "{ 'id': '@Model.Member.Id', 'bid': '@Model.Show.Id'}" ,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function () {
                    location.reload();
                    $(this).removeClass("loading");
                    $(this).removeAttr("disabled", true);
                }
            });
            $(this).addClass("loading");
            $(this).attr("disabled", true);
        });

        $("#reset").click(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Clear", "Home")',
                data: "{ 'bid': '@Model.Show.Id'}",
                contentType: "application/json; charset=utf-8",
                dataType: "html"
            });
            $("#reset").attr("src", "/Content/XRed.png");
        });

        $("#admin").click(function () {
            $("span").toggle()
        });

        $(".deleteMember").click(function () {
            var idToDelete = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteMember", "Home")',
                data: "{ 'idAdmin': '@Model.Member.Id', 'bidIn': '@Model.Show.Id', 'idDelete': '"+idToDelete+"'}" ,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function () {
                    location.reload();
                }
            });
        })

        $(".deleteShow").click(function () {
            var idToDelete = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteShow", "Home")',
                data: "{ 'idDelete': '"+idToDelete+"'}" ,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function () {
                    window.location.href = "/";
                }
            });
        })
    </script>
    
}